NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=
CRON_SECRET=
MEMBER_SESSION_SECRET=
MEMBER_PASSWORD_BURAK=
MEMBER_PASSWORD_EMIN=
MEMBER_PASSWORD_FURKAN=
MEMBER_PASSWORD_ERKUT=
MEMBER_PASSWORD_KUBRA=
MEMBER_PASSWORD_BUSE=
MEMBER_PASSWORD_BEYZA=
MEMBER_PASSWORD_KERIM=
